*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    min-height: 100vh;
    background-color:#192862;
    display: grid;
    place-items: center;
}
.calculadora{
    background-color:#3E5DD8;
    color: #f0f0f0;
    width: 350px;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.pantalla{
    grid-column: 1/5;
    background-color: #f0f0f0;
    color: #192862;
    text-align: right;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}
.calculadora button{
    background-color: #192862;
    color: #f0f0f0;
    border-color:#f0f0f0;
    padding: 1.rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnIgual{
    grid-column: span 2;
}
.btnAC{
    grid-column: span 2;
}